{% include "navbar.html" %}

<body>
	<div style="position:absolute; top:100px; bottom:0px; left:0px; right: 0px; margin:auto;">
		<h3 align="center">
			This project was written by Liron & Jonathan Shimrony as their <br>Computer Science senior design project for City College of New york<br>.
		</h3>
		<h4 align="center">
			The PowerCalc project allows the user to perform powerful computations using his cellphone <br>
			voice recognition feature (Siri) or using the intended PowerCalc chat app for the iPhone/iPad.<br>
		</h2>
	</div>
</body>
