<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/pc_man.css') }}">
		
		<script type="text/javascript" src="{{ url_for('static', filename='JQuery/jquery-1.10.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='JQuery/scripts.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='JQuery/purl.js') }}"></script>
		<title>Clients and Softwares</title>
		
		
	</head>

	<body>
		<p>place holder for instructions</p> 
		<h3>Client Form</h3>
		<form method="POST" id="clientForm">
			<label> Client Name:</label>
			<input type="text" id="clientName"><br>
			<label> Client Username:</label>
			<input type="text" id="clientUsername"><br>
			<label> Client Password:</label>
			<input type="password" id="clientPassword"><br>
			<label> Client IP:</label>
			<input type="text" id="clientIP"> <span id="ipErrorMsg"></span><br>
			<label> Client Port:</label>
			<input type="text" id="clientPort"><span id="portErrorMsg"></span><br>
			<label> Client OS:</label>
			<select id="clientOS">
				<option value="UNIX">Unix</option>
				<option value="WINDOWS">Windows</option>	
			</select><br>
			<input type="button" id="clientSubmit" value="Add Client" style="width:100px" > 
			<span id="clientSuccessSpan"></span>
		</form>
		<br>

		<h3>Software Form</h3>
		<form method="POST" id="SoftwareForm">
			<label> Software:</label>
			<select id="softwareName"> 
				<option value="Matlb">Matlb</option>
			</select><br>
			<label>Client:</label>
			<select id="softwareClient">
				{% for key, value in clients.iteritems() %}
					<option value = "{{ key }}">{{ value }}</option>
				{% endfor %}
			</select><br>
			<label> Software Version:</label>
			<select id="softwarePath">
				<option value="/Applications/MATLAB_R2012b.app/bin/matlab">R2012b (Version 8.00) 2012</option>
				<option value="/Applications/MATLAB_R2012a.app/bin/matlab">R2012a (Version 7.14) 2012</option>
				<option value="/Applications/MATLAB_R2011b.app/bin/matlab">R2011b (Version 7.13) 2011</option>
				<option value="/Applications/MATLAB_R2011a.app/bin/matlab">R2011a (Version 7.12) 2011</option>
				<option value="/Applications/MATLAB_R2010b.app/bin/matlab">R2010b (Version 7.11) 2010</option>
			</select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDisabled if clients OS is Windows<br>
			<input type="button" id="swSubmit" value="Add Software" style="width:100px" > 
			<sapn id="swSuccessSpan"></span>
			
		</form>
		

		<h3>Matlab Form</h3>
		<form method="POST" id="matlabForm">
			<label> Command Keyword:</label>
			<input type="text" id="keyword"><br>
			<label> m File Path:</label>
			<input type="text" id="mFilePath"><br>
			<label> Output Directory:</label>
			<input type="text" id="outputDir"><br>
			<label> Client:</label>
			<input type="text" id="matlabClient"><br>
			<label> Software:</label>
			<input type="text" id="matlabSW"><br>
			<input type="submit" id="matlabSubmit" value="Add Command" style="width:100px"> 
		</form>

		
	</body>
</html>